
<h1> This are the courses available now</h1>
<%= button_to 'Add Course', new_department_course_path(@dept), method: :get, class: "btn btn-primary" %>
<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Action1</th>

    <th scope="col">Action2</th>
    <th scope="col">Action3</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course|%>
    <tr>
      <th scope="row"><%=course.id %></th>
      <td><%= course.name  %></td>
       <td><%= button_to 'Registered Students',  department_course_path(@department,course), method: :get %></td>
      <td><%= link_to 'Update', edit_department_course_path(@department, course) %></td>
      <td><%= link_to 'Delete', department_course_path(@department, course), method: :delete, data: {confirm: "are you sure?"} %></td>
    </tr>

    </tbody>
  <%end %>
  </table>